@charset "utf-8";
/* CSS Document */


* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

#modal {
    position: relative;
    display: flex;
    flex: 0 0 50%;
    flex-flow: column nowrap;
	justify-content: flex-start;
    align-items: center;
    min-width: 450px;
    overflow: hidden;
    padding: 20px 20px 40px 20px;
    border-radius: 6px;
    text-transform: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s cubic-bezier(0, 0, 0.2, 1);
    background: linear-gradient(0deg, #365382, #508EF4 40%, #3972D1);
    font-family: Ubuntu, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}

#modal_logo {
	display: flex;
	order: 0;
	width: 150px;
	height: 24px;
	margin: 0;
	padding: 0;
	background-image: url(../images/icons/logo_scroll.svg);
	background-repeat: no-repeat;
}

#modal_content {
	display: flex;
	order: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	margin: auto
}

#modal_items_wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 90%;
	height: 500px;
	margin: auto;
	border: 1px solid #659FFD;
	overflow-y: scroll;
}

.modal_items {
	display: block;
	padding: 0;
}

.modal_items_link, a .modal_items_link:active, a .modal_items_link:hover, a .modal_items_link:visited {
	display: contents;
	text-decoration: none;
	color: white;
}

.modal_item_avatar_name {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	order: 0;
	margin-right: auto;
}

.modal_item_avatar {
	background-color: #3972D1;
	background-repeat: no-repeat;
	min-width: 60px; height: 60px;
	border: solid 3px #fff;
	border-radius: 40px;
	margin-right: 20px;
	overflow: hidden;
	background-size: cover;
	order: 0;
	align-self: flex-start;
	background-position: 50% -30%;
}

.modal_item_name {
	display: flex;
	flex: 1;
	order: 1;
	text-align: left;
	color: white;
}

.modal_item_name > span {
	display: contents;
	font-weight: 500;
}

.modal_item_shedule_icon_date {
	display: flex;
	flex-direction: column;
	align-items: center;
	order: 1;
	margin-left: 6px;
}

.modal_item_shedule_icon {
	display: flex;
	order: 0;
	background: url(../images/icons/icon_calendar.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 30px;
	height: 30px;
	background-size: 22px 22px;
}

.modal_item_shedule_date {
	display: flex;
	order: 1;
	font-size: 10px;
	text-align: center;
	text-wrap: nowrap;
	color: white;
}

.modal_item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	order: 0;
	width: 100%;
	padding: 8px 30px;
}

.modal_item:hover {
	background: #365382;
}

.modal_header {
	align: center;
	color: white;
	font-size: 1.2rem;
	font-weight: normal;
	margin: 10px 0;
}
#modal_close_container {
	visibility: hidden;
}
#modal_closemark {
	visibility: hidden;
}

@media screen and (max-width:768px){
#modal {
    flex: 0 0 100%;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	min-width: 320px;
	padding: 0;
	align-items: normal;
}
#modal_content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
}
#modal_items_wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	margin: 0 0 80px 0;
	border: none;
}
#modal_logo {
	min-height: 24px;
    align-self: center;
	margin-top: -20px;
}
#modal_close_container {
	display: flex;
	visibility: visible;
	width: 100%;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
}
#modal_closemark {
	visibility: visible;
	display: flex;
	align-self: flex-end;
	background-color: #FF0000;
	background-repeat: no-repeat;
	width: 30px;
	min-height: 30px;
	border: none;
	border-radius: 40px;
	order: 0;
	background-image: url(../images/icons/close_mark_wh.svg);
	background-size: 60% 60%;
	background-position: 50% 50%;
	margin: 2px;
}
}

@media screen and (max-width:375px) {
.modal_item {
	word-break: break-all;
}
}
